@import url('https://fonts.googleapis.com/css2?family=W;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    color: #FFFFFF;
    background-color: #2B2B2B;
    font-family: 'Work Sans', sans-serif;
}
button {
    cursor: pointer;
}

h1{
  margin: 0;
}

.btn-artist-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 60px;
  padding: 0px 50px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  color: #fff;
  background-color: transparent;
}

.btn-artist-page:hover {
  border: 2px solid #2b2b2b;
  background-color: #a259ff;
  transition: all 1s;
}

.section-artist-cards header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.section-artist-cards header h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
    text-transform: capitalize;
}

.btn-artist-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 60px;
    padding: 0px 50px;
    border: 2px solid #A259FF;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    color: #FFF;
    background-color: transparent;
}

.btn-artist-page:hover {
    border: 2px solid #2B2B2B;
    background-color: #A259FF;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
  background-color: #2b2b2b;
}

p,
h5 {
  margin: 30;
}

button {
  cursor: pointer;
margin-bottom: 20px;
}

.section-artist-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-artist-cards header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.section-artist-cards header h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 120%; /* 45.6px */
  text-transform: capitalize;
}

.btn-artist-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 60px;
  padding: 0px 50px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  color: #fff;
  background-color: transparent;
  margin-bottom: 30px;
}

.btn-artist-page:hover {
  border: 2px solid #2b2b2b;
  background-color: #a259ff;
}

.nft-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 30px;
  max-width: 1410px;
}

.nft-card {
  display: flex;
  flex-direction: column;
  width: 330px;
}

.nft-card-info {
  display: flex;
  padding: 20px 30px 25px 30px;
  border-radius: 0 0 20px 20px;
  flex-direction: column;
  gap: 25px;
  background-color: #3b3b3b;
}

.nft-card-info h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
}

.nft-card-info p {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 6px;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.additional-info {
  display: flex;
  justify-content: space-between;
}

.info-price,
.info-highest-bid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-price-text,
.info-highest-bid-text {
  font-family: Space Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  color: #858584;
}

.info-price-value,
.info-highest-bid-value {
  color: #fff;
  font-family: Space Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  }
  
  .hero-text h1 {
color: var(--white, #FFF);
margin: 20px;

/* H1 - Work Sans */
font-family: Work Sans;
font-size: 67px;
font-style: normal;
font-weight: 600;
line-height: 110%; /* 73.7px */
text-transform: capitalize;
}

.hero-text p{

/* Body Text- Work Sans */
font-size: 22px;
font-style: normal;
font-weight: 400;
text-transform: capitalize;
}

.hero-additional-info {
  display: flex;
  gap: 30px;
}

.info-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid white;
  border-radius: 12px;
}

.info-card:hover {
  color: #d7b8ff;
  border: 2px solid #a259ff;
}

.info-card-value {
  font-family: Space Mono;
  font-size: 28px;
  font-weight: 700;
  line-height: 140%; /* 39.2px */
  text-transform: capitalize;
}

.info-card-text {
  font-size: 23.99px;
  font-weight: 400;
  line-height: 160%; /* 38.384px */
  text-transform: capitalize;
}

.nft-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
  max-width: 1410px;
  justify-content: center;
}

.btn-sign-up{
 display: flex;
height: 60px;
padding: 0px 30px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 20px;
background: var(--call-to-action, #A259FF);
color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 22.4px */
border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1410px;
  padding: 20px 0;
}

.logo {
  display: flex;
  gap: 12px;
}

.icon-logo-text {
  position: relative;
  top: 2px;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav a {
  color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 22.4px */
text-decoration: none;
}
